h1
{
	color: hotpink;	

}

p
{
	color: hotpink;
}

h2
{
	background-color: transparent;

}

body
{
	background-color: black;

}

#carte
{
	width: 1200px;
	margin:0 auto ;
	background-color: black;
	text-align: center;
	align-content: center;
}
